<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

<title>Memory Match - 620046381</title>
    
<!-- css 
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/font-awesome/font-awesome.css">
-->
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

</head>



<body>

<nav class="menu slide-menu-bottom">
    <ul>
<li><button class="close-menu">&larr; Close</button></li>
        <li><a href="{{ url_for('index') }}">Network Play</a></li>
        <li><a href="#">LeaderBoard</a></li>
		<li><a href="#">Create Profile</a></li>
        <li><a href="{{ url_for('mainpage') }}">Main Menu</a></li>

</nav><!-- /slide menu bottom -->


<div id="wrapper">

        <div class="site-title">
            <div class="container">
                <h1>Network Mode -  620046381 Card Matching Game</h1>
            </div>
        </div>
    </header>


    <div id="main">
	<table style="width:100%">
  <tr>
    <th style="width:33%"></th>
    <th style="width:33%"><img src= "{{ url_for('static', filename='pic1.jpg') }}" alt="Welcome!"></th>
	<th style="width:33%"></th>
  </table>

         
		<div >
            
            <div class="buttons">
                <button class="nav-toggler toggle-slide-bottom">Click Here!</button><br>
				<button style= "visibility: hidden" class="nav-toggler toggle-slide-left">Slide Menu Left</button>
                
				<button style= "visibility: hidden" class="nav-toggler toggle-slide-right">Slide Menu Right</button>
                <button style= "visibility: hidden" class="nav-toggler toggle-slide-top">Slide Menu Top</button>
                
                <button style= "visibility: hidden" class="nav-toggler toggle-push-left">Push Menu Left</button>
                <button style= "visibility: hidden" class="nav-toggler toggle-push-right">Push Menu Right</button>
                <button style= "visibility: hidden" class="nav-toggler toggle-push-top">Push Menu Top</button>
                <button style= "visibility: hidden" class="nav-toggler toggle-push-bottom">Push Menu Bottom</button>
            </div><!-- /buttons -->


        </div>
    </div><!-- #main -->


</div><!-- /#wrapper -->

<!-- js -->
<script src="{{ url_for('static', filename='classie.js') }}"></script>
<script src="{{ url_for('static', filename='nav.js') }}"></script>

</body>
</html>